.DS_Store
bin/.DS_Store
bin/data/.DS_Store
Makefile
Project.xcconfig
MirrorTheaterModel.xcodeproj
addons.make
bin/MirrorTheaterModelDebug.app
bin/MirrorTheaterModel.app
config.make
openFrameworks-Info.plist
bin/data/**
